{% extends 'base.html' %}

{% block content %}
<section class="px-12 py-10 bg-gray-100 rounded-xl max-w-3xl mx-auto my-20">
    <h1 class="mb-6 text-2xl font-semibold first-letter:capitalize">Welcome to your dashboard</h1>
    <div class="grid grid-cols-2 gap-4">
        <div class="bg-white p-4 shadow-2xl rounded-xl">
            <p class="text-md text-slate-900 text-center">Number of people who checked your profile: {{ profile_views }}</p>
        </div>
        <div class="bg-teal-600 p-4 shadow-2xl rounded-xl flex justify-center">
            <a href="{% url 'worker-register-form' %}" class="text-rose-500 text-lg text-center px-6 py-3  rounded-xl bg-white">
                my details
            </a>
        </div>
    </div>
</section>
{% endblock %}